{% extends '../base.html' %}

{% load static %}
{% load home_extras %}
{% block title %} - Order-{{pk}} {% endblock %}

{% block content %}

<div class=" container">
    <h1 class="text-center">Orders</h1>
     <hr>
<div id="cart" class="container">
    <table class="cart table  table-hover">
        <thead >
            <tr>
            <th>First name</th>
            <th>Email</th>            
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
           
            </tr>
        </thead>
       <tbody>
           {% for orderItem in orderItems %}             
            <tr>
                <td>{{orderItem.order.first_name}}</td>
                <td>{{orderItem.order.email}}</td>
                <td>{{orderItem.product.name}}</td>  
                <td>{{orderItem.quantity}}</td>              
                <td>$ {{orderItem.price}}</td>
                
            </tr>
            
            {% endfor %}
            
       </tbody>
       <tfoot>
        <tr>
            <th>Total</th>
            <th colspan=2>Product</th>
            <th>{{ countOrder }}</th>  
            <th>${{ subtotal }}</th>                             
            </tr>
    </tfoot>
    </table>
    <p>        
        <a href="{% url 'orders:orders' %} " class='btn btn-success'>Back</a>
        <!-- <a href="#' "> Checkaut</a> -->
    </p>
   
</div>
{% endblock %}